<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Cluster Deploy...</title>
       <link rel="stylesheet" media="screen" href ="static/css/bootstrap.min.css">
       <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
 
    </head>
    <body>
 
 
<div class="container">
 
 
  <h2>Deploy Cluster</h2>
  <form  action="/deploy/create" method="post" role="form">

      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Name your deployment">
      <input type="text" class="form-control" id="namespace" name="namespace" placeholder="Deployment namespace" />
      <input type="number" class="form-control" id="replicas" name="replicas" placeholder="# of replica sets" />
      <input type="text" class="form-control" id="image" name="image" placeholder="Image name" />
        <button type="submit" class="btn btn-success">Deploy!</button>  
    </div>
  </form>
 
  <br>
 
</div>
<br>      
</div>
</div>
</body>
</html>